<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd   
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<bean id="lotteryCenterServiceImpl" class="com.jll.game.LotteryCenterServiceImpl">
	</bean>
<!-- 	<bean id="StatisticalPlanServiceImpl" class="com.jll.report.statistic.StatisticalPlanServiceImpl"> -->
<!-- 	</bean> -->

	<bean id="makeAPlanJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="lotteryCenterServiceImpl" />
		<property name="targetMethod" value="makeAPlan" />
	</bean>
	
	<bean id="processScheduleIssueJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="lotteryCenterServiceImpl" />
		<property name="targetMethod" value="exeScheduleIssue" />
	</bean>
	
<!-- 	<bean id="scheduleStatisticalDataJobDetail" -->
<!-- 		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!-- 		<property name="targetObject" ref="StatisticalPlanServiceImpl" /> -->
<!-- 		<property name="targetMethod" value="statisticalData" /> -->
<!-- 	</bean> -->
	
	<bean id="cronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="makeAPlanJobDetail"/>
		<!-- run every morning at 6 AM -->
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>

	<bean id="processScheduleIssueCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="processScheduleIssueJobDetail"/>
		<!-- run every morning at 6 AM -->
		<property name="cronExpression" value="0/1 * * * * ?" />
	</bean>
	
<!-- 	<bean id="scheduleStatisticalDataCronTrigger" -->
<!-- 		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="jobDetail" ref="scheduleStatisticalDataJobDetail"/> -->
<!-- 		<property name="cronExpression" value="0 0/10 * * * ?" /> -->
<!-- 	</bean> -->
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger"/>
				<ref bean="processScheduleIssueCronTrigger"/>
<!-- 				<ref bean="scheduleStatisticalDataCronTrigger"/> -->
			</list>
		</property>
	</bean>

</beans>